body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

footer {
    /* just for demo */
    background-color: black;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    
}


.activeNav{
  color: white !important;
}

.videoTag
{
	 width: 100%;
    height: auto;
}

img
{
   width: 100%;
    height: auto;
}

.container-fluid
 {
      padding: 60px 50px;
 }

 .bg-grey
   {
      background-color: #f6f6f6;

   }

 @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }